# Aula 05 - Introdução ao List Comprehension e Format

> Nessa aula aula iremos dar introdução ao list comprehension , uma forma mais simples de realizar conversões de valores entre duas ou mais listas. Atualmente é uma das formas mais rapidas de aplicar conversões, subsituindo as declarações mais extensas do que o metodo convencional, lambda e o map.

## Exemplo 1 - Conversão de Celsius para Fahrenheit

In [1]:
celsius = [10,20,24,35,50]
fahrenheit = [round(x*1.8+32,2) for x in celsius]
print(fahrenheit)

[50.0, 68.0, 75.2, 95.0, 122.0]

## Exemplo 2 - Conversão de Kmh para Mph

In [2]:
kmh = [100,25,70,80,180]
mph = [round(x/1.61,2)for x in kmh]
print (mph)

[62.11, 15.53, 43.48, 49.69, 111.8]

In [3]:
print("{:<6}{:<6}".format("Kmh","Mph"))
print("============")
x = 0
while(x<len(kmh)):
 print("{:<6}{:<6}".format(kmh[x],mph[x]))
 x+=1

Kmh   Mph
============
100   62.11
25    15.53
70    43.48
80    49.69
180   111.8

In [4]:
print("{:<12}{:<12}".format("Fahrenheit","Celsius"))
print("======================")
x = 0
while(x<len(fahrenheit)):
 print("{:<12}{:<12}".format(fahrenheit[x],celsius[x]))
 x+=1

Fahrenheit  Celsius
======================
50.0        10
68.0        20
75.2        24
95.0        35
122.0       50

## Exercicio 1

> Crie uma lista com 10 valores em metros. Crie uma tabela de conversão para polegadas, pés, jardas e mílhas maritimas. Listando o numero da linha e o cabeçalho da tabela

In [18]:
metros = [10,20,30,40,50,60,70,80,90,95]
Polegadas = []
Pés = []
Jardas = []
Milhasm = []

print("{:<10}{:<10}{:<10}{:<10}{:<10}".format("metros","Polegadas","Pés","Jardas","Milhasm"))
print("=======================================================")
x = 0

while(x<len(metros)):
  
 print("{:<10}{:<10}{:<10}{:<10}{:<10}".format(metros[x],Polegadas[x],Pés[x],Jardas[x],Milhasm[x],))
 x+=1

metros    Polegadas Pés       Jardas    Milhasm
=======================================================

IndexError: list index out of range

In [16]:
metros = [10,20,30,40,50,60,70,80,90,95]
Pés = [round(x*3,281)for x in metros]

In [17]:
metros = [10,20,30,40,50,60,70,80,90,95]
Jardas = [round(x*1.094,2)for x in metros]
print(Jardas)

[10.94, 21.88, 32.82, 43.76, 54.7, 65.64, 76.58, 87.52, 98.46, 103.93]

In [18]:
metros = [10,20,30,40,50,60,70,80,90,95]
Milhasm = [round(x*1852,2)for x in metros]
print(Milhasm)

[18520, 37040, 55560, 74080, 92600, 111120, 129640, 148160, 166680, 175940]

In [19]:
metros = [10,20,30,40,50,60,70,80,90,95]
Polegadas = [round(x*39.37,2)for x in metros]
print(Polegadas)

[393.7, 787.4, 1181.1, 1574.8, 1968.5, 2362.2, 2755.9, 3149.6, 3543.3, 3740.15]