# Aula 05 - Introdução ao List Comprehension e Format

> Nessa aula aula iremos dar introdução ao list comprehension , uma forma mais simples de realizar conversões de valores entre duas ou mais listas. Atualmente é uma das formas mais rapidas de aplicar conversões, subsituindo as declarações mais extensas do que o metodo convencional, lambda e o map.

## Exemplo 1 - Conversão de Celsius para Fahrenheit

In [4]:
celsius = [10,20,24,35,50]
fahrenheit = [round(x*1.8+32,2) for x in celsius]
print(fahrenheit)

[50.0, 68.0, 75.2, 95.0, 122.0]

## Exemplo 2 - Conversão de Kmh para Mph

In [5]:
kmh = [100,25,70,80,180]
mph = [round(x/1.61,2)for x in kmh]
print (mph)

[62.11, 15.53, 43.48, 49.69, 111.8]

In [6]:
print("{:<6}{:<6}".format("Kmh","Mph"))
print("============")
x = 0
while(x<len(kmh)):
 print("{:<6}{:<6}".format(kmh[x],mph[x]))
 x+=1

Kmh   Mph
============
100   62.11
25    15.53
70    43.48
80    49.69
180   111.8

In [7]:
print("{:<12}{:<12}".format("Fahrenheit","Celsius"))
print("======================")
x = 0
while(x<len(fahrenheit)):
 print("{:<12}{:<12}".format(fahrenheit[x],celsius[x]))
 x+=1

Fahrenheit  Celsius
======================
50.0        10
68.0        20
75.2        24
95.0        35
122.0       50

## Exercicio 1

> Crie uma lista com 10 valores em metros. Crie uma tabela de conversão para polegadas, pés, jardas e mílhas maritimas. Listando o numero da linha e o cabeçalho da tabela

In [8]:
metros = [10,20,30,40,50,60,70,80,90,95]
Polegadas = [round(x*39.37,2)for x in metros]
print(Polegadas)

[393.7, 787.4, 1181.1, 1574.8, 1968.5, 2362.2, 2755.9, 3149.6, 3543.3, 3740.15]

In [9]:
metros = [10,20,30,40,50,60,70,80,90,95]
Milhasm = [round(x*1852,2)for x in metros]
print(Milhasm)

[18520, 37040, 55560, 74080, 92600, 111120, 129640, 148160, 166680, 175940]

In [10]:
metros = [10,20,30,40,50,60,70,80,90,95]
Jardas = [round(x*1.094,2)for x in metros]
print(Jardas)

[10.94, 21.88, 32.82, 43.76, 54.7, 65.64, 76.58, 87.52, 98.46, 103.93]

In [11]:
metros = [10,20,30,40,50,60,70,80,90,95]
Pés = [round(x*3,281)for x in metros]
print(Pés)

[30, 60, 90, 120, 150, 180, 210, 240, 270, 285]

In [12]:
print("{:<10}{:<10}{:<10}{:<10}{:<10}".format("Metros","Polegadas","Pés","Jardas","Milhas Maritimas"))
print("=======================================================")
x = 0

while(x<len(metros)):
    print("{:<10}{:<10}{:<10}{:<10}{:<10}".format(metros[x],Polegadas[x],Pés[x],Jardas[x],Milhasm[x]))
    x += 1

Metros    Polegadas Pés       Jardas    Milhas Maritimas
=======================================================
10        393.7     30        10.94     18520
20        787.4     60        21.88     37040
30        1181.1    90        32.82     55560
40        1574.8    120       43.76     74080
50        1968.5    150       54.7      92600
60        2362.2    180       65.64     111120
70        2755.9    210       76.58     129640
80        3149.6    240       87.52     148160
90        3543.3    270       98.46     166680
95        3740.15   285       103.93    175940

2-Crie uma lista com 10 valores em Kelvin. Crie uma tabela de conversão para Celsius e Fahrenheit, listando o número da linha e o cabeçalho da tabela.

In [21]:
kelvin = [10,20,30,40,50,60,70,80,90,100]
Celsius = [round(x-273,15) for x in kelvin]
print(Celsius)

[-263, -253, -243, -233, -223, -213, -203, -193, -183, -173]

In [35]:
kelvin = [10,20,30,40,50,60,70,80,90,100]
Fahrenheit = [round(1.8*(x-273)+32) for x in kelvin]
print(Fahrenheit)

[-441, -423, -405, -387, -369, -351, -333, -315, -297, -279]

In [38]:
print("{:<10}{:<10}{:<10}".format("Kelvin","Celsius","Fahrenheit"))
print("==================================")
x = 0

while(x<len(metros)):
    print("{:<10}{:<10}{:<10}".format(kelvin[x],Celsius[x],Fahrenheit[x]))
    x += 1

Kelvin    Celsius   Fahrenheit
==================================
10        -263      -441
20        -253      -423
30        -243      -405
40        -233      -387
50        -223      -369
60        -213      -351
70        -203      -333
80        -193      -315
90        -183      -297
100       -173      -279

3-Crie um uma lista com 10 pesos em quilos. Faça a conversão para o peso na Terra, Lua, Júpiter, Saturno e Mercúrio. Monte uma tabela com o cabeçalho e a numeração conforme os exercícios passados.

In [39]:
quilos = [10,20,30,40,50,60,70,80,90,100]
Pterra= [round(x*10) for x in quilos]
print(Pterra)

[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]

In [41]:
quilos = [10,20,30,40,50,60,70,80,90,100]
Plua = [round(x*1.6) for x in quilos]
print(Plua)

[16, 32, 48, 64, 80, 96, 112, 128, 144, 160]

In [42]:
quilos = [10,20,30,40,50,60,70,80,90,100]
Pjupiter = [round(x*24.80) for x in quilos]
print(Pjupiter)

[248, 496, 744, 992, 1240, 1488, 1736, 1984, 2232, 2480]

In [44]:
quilos = [10,20,30,40,50,60,70,80,90,100]
Psaturno = [round(x*10.45) for x in quilos]
print(Psaturno)

[104, 209, 314, 418, 522, 627, 732, 836, 940, 1045]

In [45]:
quilos = [10,20,30,40,50,60,70,80,90,100]
Pmercurio = [round(x*3.7) for x in quilos]
print(Pmercurio)

[37, 74, 111, 148, 185, 222, 259, 296, 333, 370]

In [50]:
print("{:<18}{:<18}{:<18}{:<18}{:<18}".format("Peso na Terra","Peso na Lua","Peso em Jupiter","Peso em Saturno","Peso em Mercúrio"))
print("===============================================================================================")
x = 0

while(x<len(quilos)):
    print("{:<18}{:<18}{:<18}{:<18}{:<18}".format(Pterra[x],Plua[x],Pjupiter[x],Psaturno[x],Pmercurio[x]))
    x += 1

Peso na Terra     Peso na Lua       Peso em Jupiter   Peso em Saturno   Peso em Mercúrio
===============================================================================================
100               16                248               104               37
200               32                496               209               74
300               48                744               314               111
400               64                992               418               148
500               80                1240              522               185
600               96                1488              627               222
700               112               1736              732               259
800               128               1984              836               296
900               144               2232              940               333
1000              160               2480              1045              370