# Introdução a Tuplas e Dicionários

In [94]:
lista = [2,5,9]
lista[1]
print(lista)

[2, 5, 9]

# Introdução a Tuplas

>Tuplas não são mutaveis, não se modificam, ou seja se você alterar o valor de uma tupla o valor antigo será esquecido

In [95]:
tupla = (6,8,9)
tupla[1]

8

In [96]:
lista.append(7)
print(lista)

[2, 5, 9, 7]

# Introdução a Dicionários

In [97]:
dicionario = {
 'curso':'desenvolvimento de sistemas',
 'ano':2024,
 'modulo': 'Tecnicas de programação e algoritmos',
 'professor':'Gustavo'
}

In [98]:
print(dicionario['curso'])
print(dicionario['ano'])
print(dicionario['modulo'])
print(dicionario['professor'])

desenvolvimento de sistemas
2024
Tecnicas de programação e algoritmos
Gustavo

In [99]:
dicionario['nota'] = 9.5
print(dicionario['nota'])

9.5

In [100]:
print(dicionario)

{'curso': 'desenvolvimento de sistemas', 'ano': 2024, 'modulo': 'Tecnicas de programação e algoritmos', 'professor': 'Gustavo', 'nota': 9.5}

In [101]:
for x in dicionario.keys():
 print(x)

curso
ano
modulo
professor
nota

In [102]:
print(dicionario.keys())
print(dicionario.values())

dict_keys(['curso', 'ano', 'modulo', 'professor', 'nota'])
dict_values(['desenvolvimento de sistemas', 2024, 'Tecnicas de programação e algoritmos', 'Gustavo', 9.5])

In [103]:
dicionario.clear()
print(dicionario)

{}

# Exercicio 1

> Crie 3 dicionarios: Matricula, Aluno e diciplina.
>> * A matricula terá código da matricula, data da inscrição e curso; 
>> * Aluno terá registro e nome; 
>> * A diciplina terá registro e professor; 

>Ao final adicione os três dicionários em uma tupla chamada escola

In [120]:
matricula = {
 'matricula':123456,
 'datainsc':2024,
 'curso': 'Desenvolvimento de Sistemas',
}

In [121]:
aluno = {
 'aluno':'Matheus',
 'registro': 123456,
 'curso': 'Desenvolvimento de Sistemas',
}

In [122]:
diciplina = {
 'diciplina':'Matematica',
 'registro': 'aula01',
 'professor': 'gustavo',
}

In [124]:
escola = (matricula,aluno,diciplina)
print(escola)

({'matricula': 123456, 'datainsc': 2024, 'curso': 'Desenvolvimento de Sistemas'}, {'aluno': 'Matheus', 'registro': 123456, 'curso': 'Desenvolvimento de Sistemas'}, {'diciplina': 'Matematica', 'registro': 'aula01', 'professor': 'gustavo'})

In [125]:
for x in escola:
 print(x)

{'matricula': 123456, 'datainsc': 2024, 'curso': 'Desenvolvimento de Sistemas'}
{'aluno': 'Matheus', 'registro': 123456, 'curso': 'Desenvolvimento de Sistemas'}
{'diciplina': 'Matematica', 'registro': 'aula01', 'professor': 'gustavo'}

In [129]:
for x in escola:
 print(x.values())

dict_values([123456, 2024, 'Desenvolvimento de Sistemas'])
dict_values(['Matheus', 123456, 'Desenvolvimento de Sistemas'])
dict_values(['Matematica', 'aula01', 'gustavo'])

# Exercicio 2

> Crie três dicionarios para as seguintes tabelas: vendedor, produto e venda. O vendedor terá registro, nome e admissão; o produto terá o ID,nome e fabricante; a venda terá reg_vendedor,id_produto e valor. Após a criação  dos dicionarios, adicionem a uma tupla chamada casas_baiano.

In [130]:
vendedor = {
 'vendedor':'Gustavo',
 'registro':123568,
 'admissão': 2024,
}

In [131]:
produto = {
 'produto':'Nokia Tijolão',
 'ID': 2024023,
 'fabricante': 'Nokia',
}

In [132]:
venda = {
 'valor': 220,
 'reg_vendedor': 123568,
 'ID_produto': 2024023,
}

In [135]:
casas_baiano = (vendedor,produto,venda)
for x in casas_baiano:
 print(x)

{'vendedor': 'Gustavo', 'registro': 123568, 'admissão': 2024}
{'produto': 'Telefone Nokia', 'ID': 2024023, 'fabricante': 'Nokia'}
{'valor': 220, 'reg_vendedor': 123568, 'ID_produto': 2024023}